@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

table,
tr,
th {
    border: 1.5px solid red;
}

.tables {
    transition: all 0.2s ease-out;
    height: 59px
}

.tables:hover {
    background-color: coral;
}

.link__table {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(/assets/Images/zoom32x32.png);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.link__table:hover {
    background-image: url(/assets/Images/zoom32x32_a.png);
    transform: rotate(360deg);
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url(/assets/Images/il.jpg) no-repeat;
    font-family: 'Open Sans', sans-serif;

}

.navigation {
    text-decoration: none;
    height: 46.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.a__navigation {
    text-decoration: none;
    color: black;
    padding: 8px;
    background-color: yellow;
    border: 1px solid black;
    transition: all 0.4s ease-out;
}

.a__navigation:hover {
    background-color: black;
    color: yellow;
}